.title {
    border: 2px solid red;
    padding: 5px;
}

.cart {
    width: 250px;
    height: 80px;
}

@media only screen and (max-width: 600px) {
    .first {
        display: flex;
        flex-direction: row;
    }
}